__pycache__/
runs/
.ipynb_checkpoints
.mypy_cache/
.ruff_cache/
.pytest_cache/
.vscode/
docs/build/
docs/source/examples/
docs/source/tutorials/
eggs/
*.egg*
lightning_logs/
.idea/
build/
notebooks/.ipynb_checkpoints/
output/
*.h5ad
*.h5ad.lock
*.h5mu
*.h5mu.lock
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.ckpt
*.zip
*.tar
*.txt.gz
*.mtx
*.mtx.gz
*.sqlite
*.xlsx
*.zarr/


# nix environment
.envrc
.direnv
.venv
